~*.*
*.kicad_pcb-bak
cad/*.*.dwl
cad/tmp*.tcw
*.bak
*.o
*.elf
*.eep
*.d
*.lss
*.hex
*.map
*.srec
*.zproj
*.stl
*.zcode
schematics/libraries/
code/eclipse-workspace/
*.log
_autosave*.*
download/
*.ipt
theory/Kinematik2.xlsx
doc/videos/
code/workspace/
*.a
*.trj
code/Visualizer/Default/
code/TrajectoryExecution/Default/makefile
code/TrajectoryCore/Default/objects.mk
code/TrajectoryCore/Default/makefile
code/TrajectoryExecution/Default/
code/TrajectoryCore/Default/sources.mk
code/TrajectoryCore/Default/src/subdir.mk
code/GLUI/Default/
