~*.*
*.kicad_pcb-bak
cad/*.*.dwl
tmp*.tcw
*.bak
*.o
*.elf
*.eep
*.d
*.lss
*.hex
*.map
*.srec
*.zproj
*.zcode
*.exe
*.dwl
*.a
*.trj
*.log
schematics/libraries/
code/eclipse-workspace/
_autosave*.*
download/
doc/videos/
code/workspace/
code/*/Debug/
code/*/Default/
code/*/Default/
code/cortex-workspace/
code/BotCortex/Release/
code/poco-1.7.6/
code/webix/
code/WalterServerOdroid/linaro/server
doc/Walter Documentation-Dateien/
cad/prints/*.pdf
schematics/*/_saved_*.sch
cad/3D Print/*.stl
