~*.*
*.kicad_pcb-bak
cad/*.*.dwl
tmp*.tcw
*.bak
*.o
*.elf
*.eep
*.d
*.lss
*.hex
*.map
*.srec
*.zproj
*.stl
*.zcode
*.exe
*.dwl
*.a
*.trj
*.log
schematics/libraries/
code/eclipse-workspace/
_autosave*.*
download/
theory/Kinematik2.xlsx
doc/videos/
code/workspace/
code/WalterCommon/Default/
code/WalterServer/Default/
code/WalterPlanner/Default/
code/GLUI/Default/
code/cortex-workspace/
code/BotCortex/Release/
code/poco-1.7.6/
code/webix/
